<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>table component</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
	<!--template-->
	<script type="text/x-template" id="grid-tamplate">
		<table>
			<thead>
				<tr>
					<th v-for="key in columns"
					@click="sortBy(key)"
					:class="{active: sortKey == key}">
					{{key | capitalize}}
					<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in filteredData">
					<td v-for="key in columns">
						{{entry[key]}}
					</td>
				</tr>
			</tbody>
		</table>
	</script>

	<!--body-->
	<div id="app">
		<form id="search">
			Search: <input type="text" name="query" v-model="searchQuery">
		</form>
		<br>
		<grid :data="gridData"
		:columns="gridColumns"
		:filter-key="searchQuery">
		</grid>
	</div>

	<!--script-->
	<script type="text/javascript">
		Vue.component('grid', {
			template: '#grid-tamplate',
			props: {
				data: Array,
				columns: Array,
				filterKey: String
			},
			data: function() {
				var sortOrders = {}
				this.columns.forEach(function(key) {
					sortOrders[key] = 1 //默认为升序
				})
				return {
					sortKey: '',//是否高亮的标志
					sortOrders: sortOrders
				}
			},
			filters: {
				capitalize: function(v) {
					return v.charAt(0).toUpperCase() + v.slice(1)
				}
			},
			methods: {
				sortBy: function(key) {
					this.sortKey = key
					this.sortOrders[key] = this.sortOrders[key] * -1
				}
			},
			computed: {
				filteredData: function() {
					var sortKey = this.sortKey // 要排序的值（name or power）
					var filterKey = this.filterKey && this.filterKey.toLowerCase() // 过滤字符
					var order = this.sortOrders[sortKey] || 1 // 升降序
					var data = this.data // 数据
					if(filterKey) { //搜索过滤
						data = data.filter(function(row) {
							return Object.keys(row).some(function(key) {
								return String(row[key]).toLowerCase().indexOf(filterKey) > -1
							})
						})
					}
					if(sortKey) { //排序
						data = data.sort(function(a, b) {
							a = a[sortKey]
							b = b[sortKey]
							return (a === b ? 0 : a > b? 1: -1) * order
						})
						//类似数字排序 return (a-b)*order
					}

					return data
				}
			}

		})

		var app = new Vue({
			el: '#app',
			data: {
				searchQuery: '',
				gridColumns: ['name', 'power'],
				gridData: [
				    { name: 'Chuck Norris', power: Infinity },
				    { name: 'Bruce Lee', power: 9000 },
				    { name: 'Jackie Chan', power: 7000 },
				    { name: 'Jet Li', power: 8000 }
				]
			}
			
		})
	</script>
</body>
</html>